.home-wrapper .navbar           { background-color: transparent !important; }
.home-wrapper .top-nav-collapse { background-color: #424242 !important }


.admin              { top: 53px !important; } 
.topbar             { height:34px; }
.page-footer        { padding-top: 20px; }
.page-footer-legal  { padding: 10px 0; margin-top:20px; }
.page-title-header  { padding-top:105px; padding-bottom:15px; }
.page-title         { margin:0; font-size: 2.2rem; }

footer.page-footer  {  margin-top: 0; }

.Normal, .NormalDisabled, .NormalDeleted {
    color: inherit !important;
}




.to-left            { text-align:left; }
.to-right           { text-align:right; }
.clearfix           { float:none; clear:both; }

footer .page-footer-legal,
footer .page-footer-legal a {
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
}



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.dynamic-color .col-md-4 div {
    padding: 7px 20px;
}
.dynamic-color .col-md-4 {
    margin-top: 50px;
}



/****************************************************/
/** Register & Login ********************************/
/****************************************************/
.inline-list                                    { padding-left: 0;  list-style: none; margin:0; margin-bottom:0; }
.inline-list li                                 { display: inline-block; }
.inline-list li                                 { float: right; }
.registerGroup li                               { float: left; display:inline-block; }

.registerGroup .buttonGroup { margin-right: 0; }
.registerGroup a, .loginGroup a {
    color:#fff;
    display: block;
    position: relative;
    height: 34px;
    line-height:34px;
    min-width: 12px;
    padding: 0 15px;
    vertical-align: middle;
    font-size:14px;
}
.registerGroup a:hover, .loginGroup a:hover     { 
    background:rgba(0, 0, 0, 0.2);
    text-decoration:none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.registerGroup a:hover, .loginGroup a:hover     { text-decoration: none; }
.registerGroup a:active, .loginGroup a:active   { text-shadow: none; }
.registerGroup a strong, .loginGroup a strong   { display: block; position: absolute; left: 0; top: 0; width: 100%; overflow: hidden; font-size: 0; text-indent: -9999px; }
.userMessages a, .userNotifications a           { background-color: transparent; }
.userMessages strong                            { height: 100%; background: url('../img/message_icon.png') no-repeat center center; }
.userNotifications                              { }
.userNotifications strong                       { height: 100%; background: url('../img/notification_icon.png') no-repeat center center; }
.registerGroup a span                           { display: inline-block; min-width: 7px; margin-right: 3px; text-align: center; }
.registerGroup .userProfileImg a                { min-width: 32px; min-height: 32px; padding: 0; }
.registerGroup a img                            { height: 32px; width: 32px; }
.loginGroup { }

.userMessages a span,
.userNotifications a span {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    background-color: transparent;
}
.userNotifications span, .userMessages span {
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px;
    z-index: 999;
}
.userNotifications span { background: url('../img/icon_notification_active.png') no-repeat center center; }
.userMessages span      { background: url('../img/icon_message_active.png') no-repeat center center; }
/****************************************************/
/** Register & Login ********************************/
/****************************************************/


/****************************************************/
/** Language ****************************************/
/****************************************************/
.language .language-object                          { margin: 0; padding: 0; }
.language .language-object span:first-child         { padding-left: 8px; }
.language .language-object span                     { float: left; padding-top: 5px; padding-bottom: 3px; padding-left: 5px; margin: 0; }
.language .language-object .Language.selected img   { opacity: 1; }
.language .language-object span img                 { height: 20px; width: 25px; opacity: 0.3; }
/****************************************************/
/** Language ****************************************/
/****************************************************/

/****************************************************/
/** Topbar search button ****************************/
/****************************************************/
.search-button,
.search-button a,
.search-button a:link,
.search-button a:active,
.search-button a:visited,
.search-button a:focus { 
    height:34px;
    line-height:34px;
    width:35px;
    text-align:center;
    color:#fff;
}
.search-button a:hover {
    background:rgba(0, 0, 0, 0.2);
    text-decoration:none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
/****************************************************/
/** Topbar search button ****************************/
/****************************************************/

/****************************************************/
/** Search Input ************************************/
/****************************************************/
.modal-title .Normal { font-size: 2.28rem; line-height: 110%; margin: 1.14rem 0 0.912rem 0; font-weight: 300; }
.search {
    position: relative;
    min-width: 35px;
    width: 0;
    height: 34px;
    float: right;
    overflow: hidden;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
}

#dnn_dnnSearch_ClassicSearch                            { padding:3px; }
.searchInputContainer                                   { display: block!important; }
.searchInputContainer input::-webkit-input-placeholder  { color: #818181; }
.searchInputContainer input:-moz-placeholder            { color: #818181; }
.searchInputContainer input::-moz-placeholder           { color: #818181; }
.searchInputContainer input:-ms-input-placeholder       { color: #818181; }
.searchInputContainer a.dnnSearchBoxClearText           { right: 0!important; }
.searchInputContainer a.dnnSearchBoxClearText.dnnShow   { bottom: 20px; }
.SearchButton                                           { visibility:hidden; }
ul.searchSkinObjectPreview {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    list-style: none;
    border-top:none;
    width: 100%;
    z-index: 200;
    padding: 0;
}
/****************************************************/
/** Search Input ************************************/
/****************************************************/


/****************************************************/
/** Navbar ******************************************/
/****************************************************/
.top-nav-collapse   { margin-top:-35px; }

.navbar-fixed-top   {
    padding: 0;
    -webkit-transition: background .5s ease-in-out, margin .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, margin .5s ease-in-out;
    transition: background .5s ease-in-out, margin .5s ease-in-out;    
    z-index: 999;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 5px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand img { 
    max-height:50px;
    max-width:100%;   
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.navbar-default .navbar-toggle {
    position:relative;
    z-index:100
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}
.navbar-default .navbar-toggle          { border-color: transparent; }
.navbar .navbar-toggle                  { border-color: rgba(255, 255, 255, 0); }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus    { background-color: transparent; }
.navbar-toggle                          { margin-top: 12px; }

.navbar-nav > li > a                        { font-size: 16px !important; }
.dropdown-menu li>a, .dropdown-menu li>span { font-size: 14px; }
/****************************************************/
/** Navbar ******************************************/
/****************************************************/







/******** Containers */
.DnnMDesignC {  }
.DnnMDesignC .panel-heading .Head   { margin-bottom:0; }
.DnnMDesignC .panel-footer .Head    { margin-bottom:0; }
.DnnMDesignC .contentpane .Normal, 
.DnnMDesignC .contentpane div, 
.DnnMDesignC .contentpane p, 
.DnnMDesignC .contentpane td,
.DnnMDesignC .contentpane b   {  }

    .DnnMDesignC .contentpane ul, li {
        font-size: 1.25rem;
    line-height: 1.8;
    }

.DnnMDesignC .contentpane p strong {  }
.DnnMDesignC .contentpane a:hover { 
    text-decoration:none; 
    transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
}


.fa-ul>li {
    font-size: 1.25rem !important;
    line-height: 1.8 !important;
}




.DnnMDesignFooterC {  }


.DnnMDesignFooterC .Head,
.DnnMDesignFooterC h2,
.DnnMDesignFooterC h3,
.DnnMDesignFooterC h4,
.DnnMDesignFooterC h5,
.DnnMDesignFooterC h6 {
    margin-top: 0;
    margin-bottom: 0;        
}

.DnnMDesignFooterC .Head                    { margin-bottom:0; font-size:1.3rem; }
.DnnMDesignFooterC .contentpane .Normal, 
.DnnMDesignFooterC .contentpane div, 
.DnnMDesignFooterC .contentpane p, 
.DnnMDesignFooterC .contentpane td,
.DnnMDesignFooterC .contentpane b           { color:#fff; font-size:0.9rem; }

.DnnMDesignFooterC .contentpane p strong    {  }

.DnnMDesignFooterC .contentpane a:active,
.DnnMDesignFooterC .contentpane a:link,
.DnnMDesignFooterC .contentpane a:focus,
.DnnMDesignFooterC .contentpane a:visited   { text-decoration:underline; font-size:0.9rem; line-height:1.8; }
.DnnMDesignFooterC .contentpane a:hover     {  text-decoration:none; }


/******** Containers */


@media (max-width: 991px) {
    .to-left    { text-align:center; padding-bottom:3px; }
    .to-right   { text-align:center; padding-bottom:3px; }
    .home-wrapper .navbar           { background-color: #424242!important; }    
}

@media (max-width: 768px) {
    .mobile_spacer { padding-top:90px; }
}

#ControlBar input[type=text] {
    padding: 5px !important;
    height:19px;
}

#ControlBar .RadComboBox_DnnBlack, 
#ControlBar .RadComboBox_DnnBlack .rcbInput, 
#ControlBar .RadComboBox_DnnBlack .rcbInput.radPreventDecorate input[name="ControlBar$CategoryList"]:focus, 
#ControlBar .RadComboBoxDropDown_DnnBlack {
    background-color: #515151;
    color: #bdbdbd !important;
    border-radius: 4px;
}



/**********************************************************/
/** DNN Defaults ******************************************/
/**********************************************************/


/** Fix for IE11 slider, when the slider swap image the screen size is expanded to take the full height of the image then reduced */
.carousel-inner > .item > .view > img, 
.carousel-inner > .item > .view > a > img {
    width: 100%;

}